@import "./utilities/vars-global";
@import "./utilities/mixins";

@import "./base/normalize";
@import "./base/resets";

@font-face {
  font-family: "plus";
  src: url("../assets/fonts/PlusJakartaSans-VariableFont_wght.ttf");
}

body {
  background-color: $color-very-light-neutral;
  font-family: $family;
  font-size: $body-size;
}

.container {
  width: 70%;
  margin: 50px auto;
  padding: 50px;
  border-radius: 7px;
  box-shadow: 0px 0px 30px $color-light-grayish-2-neutral;
  background-color: $color-white-neutral;
}

@import "./components/header";
@import "./components/main";
@import "./components/responsive";
