/*$Colors--*/
$color-red-primary: hsl(1, 90%, 64%);
$color-red-primary: hsl(1, 90%, 64%);
$color-blue-primary: hsl(219, 85%, 26%);

$color-white-neutral: hsl(0, 0%, 100%);
$color-very-light-neutral: hsl(210, 60%, 98%);
$color-light-grayish-1-neutral: hsl(211, 68%, 94%);
$color-light-grayish-2-neutral: hsl(205, 33%, 90%);
$color-grayish-blue-neutral: hsl(219, 14%, 63%);
$color-dark-grayish-blue-neutral: hsl(219, 12%, 42%);
$color-dark-blue-neutral: hsl(224, 21%, 14%);

/*--Typography--*/
$body-size: 16px;
$family: "plus";
$weight-medium: 500;
$weight-bold: 800;
