@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Jakarta';
  src: url('/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf');
}

:root {
  /*colors primary*/

  --red: hsl(1, 90%, 64%);
  --blue: hsl(219, 85%, 26%);

  /* colors - neutrals */

  --white: hsl(0, 0%, 100%);
  --very-light-grayish-blue: hsl(210, 60%, 98%);
  --light-grayish-blue-1: hsl(211, 68%, 94%);
  --light-grayish-blue-2: hsl(205, 33%, 90%);
  --grayish-blue: hsl(219, 14%, 63%);
  --dark-grayish-blue: hsl(219, 12%, 42%);
  --very-dark-blue: hsl(224, 21%, 14%);

  /* fonts */
  --font-body: 'Jakarta';
  --font-paragraph-size: 16px;

  --font-500: 500;
  --font-800: 800;

  /* shadow */
  --main-shadow: var(--light-grayish-blue-2);
}

.unread::after {
  content: '';
  display: inline-block;

  padding: 5px;
  margin-left: 5px;
  margin-right: 5px;

  background-color: var(--red);
  border-radius: 1rem;
}

img {
  width: 45px;
  object-fit: contain;
  align-self: flex-start;
}

.nose {
  justify-self: flex-end;
}

body {
  font-family: var(--font-body);
}

.notifications li.active {
  background-color: var(--very-light-grayish-blue);
}

.messages {
  border-radius: .7rem;
  border: 1px solid var(--grayish-blue);
  color: var(--dark-grayish-blue);
}

.actions {
  color: var(--dark-grayish-blue);
}

.name-user {
  color: black;
  font-weight: var(--font-800);
  cursor: pointer;

  &:hover {
    color: var(--blue);
  }
}

.reaction {
  color: var(--dark-grayish-blue);
}

.post {
  color: var(--dark-grayish-blue);
  font-weight: 700;
}

time {
  color: var(--grayish-blue);
}

.group {
  color: var(--blue);
  cursor: pointer;
  font-weight: var(--font-800);
}